/**
* Grid utilities
*
* naming convention: gl-grid-{breakpoint?}-{property}-{value?}
*/
@mixin gl-grid-tpl-rows-auto {
  grid-template-rows: auto;
}

@mixin gl-grid-col-start-1 {
  grid-column-start: 1;
}

@mixin gl-grid-template-columns-2 {
  grid-template-columns: 1fr 1fr;
}
